<td class="swatch-field">
  <% value = f.object.swatch %>
  <%= check_box_tag 'use_swatch', 'yes', value && !value.blank?, class: 'enable-swatch-toggle' %>
  <%= f.hidden_field :swatch, value: nil %>
  <%= f.color_field :swatch, class: 'swatch-picker' %>
</td>
