<div class="swatch-container">
  <% product.option_types.each do |option_type| %>
    <% option_type.option_values.each do |option_value| %>
      <% if option_value.swatch && !option_value.swatch.blank? %>
        <%= link_to option_value.presentation, product_path(product, option_value: option_value.id), style: swatch_style(option_value), class: "swatch", title: option_value.presentation %>
      <% end %>
    <% end %>
  <% end %>
</div>
